@use '../env' as *;

.main {
	display: flex;
	flex-direction: column;
	gap: 36px;
	box-sizing: border-box;
	max-width: 928px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 60px 24px 48px;
	background-color: #ffffff;
	background-image: linear-gradient(
		transparent 47px,
		rgba(0, 0, 128, 0.15) 48px
	);
	background-size: 48px 48px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

	@include desktop {
		padding-inline: 48px;
	}
}

.main__section {
	flex-grow: 1;
}

.main__nav {
	align-self: center;
	text-align: center;

	svg {
		display: block;
		fill: currentColor;
	}
}
